.card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    transition: transform .2s;
    margin:auto;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
   }

.card:hover {
  transform: scale(1.25);
}

ul.horizontal-list li {
    display: inline-block;
  }

ul.horizontal-list li {
    padding: 0 0.5rem;
}